.container{
	max-width: 1920px;
	border: 5px solid darkgoldenrod;
	display: grid;
/*	grid-template-columns: 300px 300px 300px;
*/	gap: 20px 40px;
	grid-template-columns: repeat(auto-fill,minmax(300px,2fr));
	padding: 20px;
	column-gap: 30px;
	row-gap: 40px;
	/*grid-row-start: 2;
	grid-row-end: 5;*/
}

.nkar{
	width:350px ;
	height: 300px;
	border: 2px solid lightgoldenrodyellow;
	text-align: center;
}
img{
	width: 350px;
	height:300px ;
}