.nosmocking{
width:1200px ;

position: absolute;
top: 5px;
display: flex;
flex-wrap: wrap;
}
.smokebreake{
width: 394px;
height: 200px;
margin-top: 100px;
top: 200px;
margin-left: 150px;
}
body{
	background: url("../das7/moon.jpeg");

}
video{
	width: 250px;
	
}
audio{
	width: 250px;
}
.box{
	width: 250px;
	position: relative;
}
h1{
	color: white;
}

